:root{
    --fondos: #A50044;
    --primario:  #004D98;
    --titulos: "Pixelify Sans", sans-serif;
    --textos: "Roboto Mono", monospace;
    --sombras:   #FFED02;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    background-color:var(--fondos);
}

.logo{
    width: 90px;
    cursor: pointer;
}
.title{
    font-family: var(--titulos);
    font-size: 50px;
    font-style: italic;
    color: var(--primario);
    text-shadow: 5px  5px var(--sombras);
}

.text{
    display: flex;
    padding: 15px;
    justify-content: center;
    
}
.text h1{
    font-size: 50px;
    color: var(--primario);
    font-family: var(--titulos);
    letter-spacing: 21.5px;
    text-shadow: 5px 5px var(--sombras);

}
.barra{
    border-bottom: 2px solid;
}
nav.menu{
    width: 98%;
    margin: 10px auto;
    display: flex;
 
}
.contenedorLogo{
    width: 25%;
    align-self: center;
    margin: 0 0 0 25px;
}
.contenedorTitulo{
    width: 75%;
    align-self: center;
    text-align: center;
}
.contenedor{
    width: 98%;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
}
.contenedorUl{
    width: 20%;
    height: 250px;
}
.lista{
    list-style: none;
    margin: 0 0  0 25px;

}
.lista li{
    padding: 10px 20px;
    border-bottom: 2px solid #000;
    cursor: pointer;
}
.lista li:hover{
    font-weight: bold;
    color: #fff;
    background-color: var(--primario);
}
.contenedorFPerfil{
    text-align: center;
}
.contenedorFPerfil img{
    width: 180px;
    border-radius: 50%;
    
}
.citaAutor{
    display: flex;
    justify-content: space-evenly;
}
.citaAutor img{
    width: 10%;
    height: 8%;
}
.citaAutor p{
    font-size: 15px;
    font-family: var(--textos);
    margin: 10px 0;
    padding-bottom: 8px;
    border-bottom: 1px solid;
}
.contenedorTexto{
width: 80%;
}
.contenedorFondoImg{
    position: relative;
    background-image: url("img/fondo.jpg");
    width: 100%;
    height: 320px;
    background-size: contain;

}
.Textodentro{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    font-weight: bold;
    color: white; 
    font-size: 24px; 
  
}
.contenedorFondoImg::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}